@charset "UTF-8";
/* ベースのスタイル
------------------------------------------ */
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #333;
}
a {
  color: #fff;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;;
}
ul {
  list-style: none;
}

/* スムーススクロール */
html{
  scroll-behavior: smooth;
}

/* 部品
------------------------------------------ */
/* ボタン */
.button{
  display: inline-block;
  text-align: center;
  opacity: 1;
}
.button:hover{
  opacity: 0.5;
}
/* 白色ボタン */
.button-white-ghost{
  max-width: 21.875rem;
  padding: 1.25rem 5.3125rem;
  background: #FFF;
  border-radius: 2.0625rem;
  color: #005BAC;
  font-size: 1.125rem;
}

@media(min-width:768px){
  .button-white-ghost{
    color: #fff;
    background: transparent linear-gradient(90deg, #0271E0 0%, #53A2F0 100%) 0% 0% ;
    border-radius: 2.4375rem;
    padding: 1.0625rem 3rem;
    margin-right: 0.875rem;
    font-size: 1.1875rem;
  }
}
.container{
  padding: 0 1rem;
}
/* タイトル */
.section-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  padding-bottom: .8125rem;
}
.section-title span{
  font-family: Poppins;
  color: #F11F8D;
  font-size: 2.5rem;
}
@media(min-width:768px){
  .section-title{
    font-size: 2.25rem;
    padding-bottom: 2.0625rem;
  }
  .section-title span{
    font-size: 3.1875rem;
  }
}

/* 入学説明会に申込 */
.briefing{
  display: flex;
  flex-direction: column;
  background-color: #FF55551A;
}
.briefing p{
  font-weight: 400;
  padding: 2.5rem 2.6875rem .625rem;
  text-align: center;
  line-height: 1.6;
}
@media(min-width:768px){
  .briefing p{
    padding: 3.5rem 0 1.125rem;
  }
}
.button-blue-ghost{
  font-size: 1.25rem;
  padding: 1.25rem 3.3125rem;
  margin: 0 auto 2.5rem;
  background: transparent linear-gradient(90deg, #0271E0 0%, #53A2F0 100%) 0% 0%;
  border-radius: 2.1875rem;
}
@media(min-width:768px){
  .button-blue-ghost{
    font-size: 1.4375rem;
    padding: 1.25rem 3.5625rem 1.25rem 4.25rem;
    border-radius: 2.1875rem;
    margin-bottom: 3.6875rem;
  }
}

/* ヘッダー
------------------------------------------ */
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #FFF;
  box-shadow: 0 .125rem .5rem #0000001A;
  opacity: 1;
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.375rem;
  padding: 1.125rem 0 ;
}
@media(min-width:768px){
  .header-container{
    height: 6.3125rem;
    max-width: 74.5rem;
    margin: 0 auto;
  }
}
/* ヘッダーロゴ */
.header-logo img{
    max-width: 11.4375rem;
    padding-left: 1.0625rem;
}
@media(min-width:768px){
  .header-logo img{
    max-width: 16.125rem;
  }
}
/* ハンバーガーボタン */
.hamburger-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.375rem;
  height: 4.375rem;
  background: #005BAC;
}
@media(min-width:768px){
  .hamburger-button{
    display: none;
  }
}
.hamburger-button i{
  color: #fff;
  font-size: 2.75rem;
}
/* ハンバーガーメニュー */
@media(max-width: 767px) {
  .hamburger-menu{
    position: fixed;
    top: 4.375rem;
    left: 0;
    width: 100%;
    height: 20.6875rem;
    background: #005BAC;
    opacity: 1;
    transition: all .3s;
    transform: translateX(100%);
    animation-timing-function: ease-out;
    padding: 0 0 2rem 1.25rem;
  }
}
/* アクティブ状態 */
.hamburger-menu-active {
  transform: translateX(0);
}
/* ナビゲーション */
@media(max-width:767px){
  .hamburger-nav-list-group{
    display: table;
    width:  93vw;
    font-size: 1.125rem;
    font-weight: 500;
    padding-bottom: 2rem;
  }
  .hamburger-nav-list-group li{
    display: flex;
    align-items: center;
    border-bottom: 0.0625rem solid #fff;
    padding: 1.2188rem 0;
  }
  .hamburger-nav-list-group li:last-child{
    letter-spacing: .125rem;
  }
  .hamburger-nav-list-group a{
    display: flex;
    align-items: center;
    column-gap: .6875rem;
  }
  .hamburger-nav-list-group a::before{
    font-family: bootstrap-icons;
    content:"\F138";
    color: #fff;
    font-size: .875rem;
  }
}
@media(min-width:768px){
  .hamburger-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hamburger-nav-list-group{
    display: flex;
    align-items: center;
    column-gap: 3rem;
    padding-bottom: 0;
    padding-right: 3.0625rem;

  }
  .hamburger-nav-list-group a{
    font-size: 1.25rem;
    font-weight: 500;
    color: #333;
  }
}

/* カバー
-----------------------------------------------------*/
.cover{
  position: relative;
}
.cover-container{
  position: relative;
  top: 4.375rem;
  right: .875rem;
}
@media(min-width:768px){
  .cover-container{
    top: 6.3125rem;
    right: 0;
  }
}
.cover-container-img{
  max-width: 104%;
}
/* 合格実績 No,1 */
.cover-top{
  position: absolute;
  top: 15%;
  left: 8%;
  display: flex;
}
@media(min-width:768px){
  .cover-top{
    top: 16%;
    left: 21%;
    display: flex;
    justify-content: space-between;
    width: 17%;
  }
}
.cover-top img{
  width: 16%;
}
.cover-top-description{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cover-top-title{
  font-size: .6875rem;
  font-weight: 400;
}
@media(min-width:768px){
  .cover-top-title{
    font-size: 1.25rem;
    padding-top: .8125rem;
    padding-left: .6875rem;
  }
}
.cover-top-title-sub{
  font-family: Poppins;
  font-style: italic;
  font-size: 1.6875rem;
  font-weight: 800;
  color: #F11F8D;
}
@media(min-width:768px){
  .cover-top-title-sub{
    font-size: 3.4375rem;
    padding-top: .125rem;
    padding-left: .9375rem;
  }
}
.cover-top-title-sub span{
  font-size: 2.0625rem;
}
@media(min-width:768px){
  .cover-top-title-sub span{
    font-size: 4.0625rem;
  }
}

/* 申込開始案内 */
.cover-bottom{
  position: absolute;
  bottom: 14%;
  left: 8%;
}
@media(min-width:768px){
  .cover-bottom{
    bottom: 22%;
    left: 21.5%;
  }
}
@media (min-width:768px){
  .cover-bottom-sub{
    font-size: 2.0625rem;
  }
}
.coer-bottom-sub-titile{
  font-size: 1.5625rem;
  font-weight: 900;
  line-height: 1.4;
  color: #005BAC;
}
@media(min-width:768px){
  .coer-bottom-sub-titile{
    font-size: 3.75rem;
  }
}

/*3つのボタン */
.cover-three-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: .75rem;
  max-width: 15.625rem;
  margin: 5.875rem auto 1.5rem;
}
@media(min-width:768px){
  .cover-three-button{
    position: absolute;
    top: 110%;
    left: 21.5%;
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
    max-width: 68.75rem;
    margin: 0 auto;
  }
}
.cover-button{
  font-size:  1rem;
  border-radius: 1.5625rem;
  padding: .75rem;
}
@media(min-width:768px){
  .cover-button{
    font-size:  1.5rem;
    border-radius: 2.375rem;
    padding: 1.1875rem 3.75rem;
  }
}
.button-green-ghost{
  background-color: #77CB33;
}
.button-orange-ghost{
  background-color: #F6AA00;
}
.button-emerald-green-ghost{
  background-color: #3AC8AD;
}
@media(min-width:768px){
  .button-emerald-green-ghost{
    padding: 1.1875rem 6.375rem;
  }
}


/* 選ばれる3つの理由
-------------------------------------------------------------*/
@media(min-width:768px) {
  .reason{
    margin-top:  13.375rem;
  }
  .reason .container{
    padding: 0 1rem 1.8125rem;
  }
  .reason-item{
    display: flex;
    flex-direction: row;
    max-width: 72.5rem;
    margin: 0 auto;
    padding-bottom: 2.5rem;
  }
  .reason-item-02{
    flex-direction: row-reverse;
  }
}
.reason-item img{
  margin-bottom: .3125rem;
  height: 13.75rem;
  border-radius: .75rem;
  object-fit: cover;
}
@media(min-width:768px) {
  .reason-item img{
    padding-bottom: 0;
    height: auto;
  }
  .reason-item-bottom{
    padding-left: 2.5625rem;
  }
  .reason-item-bottom-02{
    padding-left: 0;
    padding-right: 2.125rem;
  }
}
.reason-item-bottom-point{
  font-family: Poppins;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 800;
  color: #F11F8D;
}
@media(min-width:768px){
  .reason-item-bottom-point{
    font-size: 1.6875rem;
  }
}
.reason-item-bottom-point-numbers{
  font-size: 2.3125rem;
  padding-left: .375rem;
}
.reason-item-bottom-point-title{
  font-size: 1.25rem;
  padding-bottom: .625rem;
}
@media(min-width:768px){
  .reason-item-bottom-point-title{
    font-size: 1.5rem;
    padding: .1875rem 0 .8125rem;
    line-height: 1.7;
  }
}
.reason-item-bottom-point-title-02{
  padding-bottom: .375rem;
}
@media(min-width:768px){
  .reason-item-bottom-point-title-02{
    padding-bottom: .6875rem;
  }
}
.reason-item-bottom-point-title-description{
  font-weight: 400;
  line-height: 1.78;
  padding-bottom: 1.8125rem;
}
/* コース・目的
--------------------------------------------------*/
.course{
  padding-top:4rem
}
.course .section-title{
  padding-bottom: 1rem;
  padding-left: .875rem;
}
@media(min-width:768px){
  .course .section-title{
    padding: .6875rem 0 1.8125rem;
  }
  .tab{
    max-width: 72.5rem;
    margin: auto;
  }
}
/* タブ */
.st-theme-basic{
  border: none;
}
/* タブナビゲーション */
  body div#smarttab > ul.nav {
      display: flex;
      flex-direction: row!important;
      column-gap: 1.0625rem;
      padding-left: .9375rem;
      padding-right: .9375rem;
  }
  @media(min-width:768px){
    body div#smarttab > ul.nav {
      column-gap: 1.9375rem;
      padding-left: 0;
      padding-right: 0;
  }
}
  .tab.st-theme-basic > .nav{
    box-shadow: none;
  }
  .st>.tab-content>.tab-pane {
    background-color: #F2F9FF;
    padding: .9375rem .9375rem 2.6875rem;
  }
@media(min-width:768px){
  .st>.tab-content>.tab-pane {
    padding-bottom: .9375rem;
  }
}
@media(min-width:768px){
  .st>.tab-content>.tab-pane {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }
}
.tab.st-theme-basic > .nav .nav-link{
  padding-top: 1.5625rem;
  padding-bottom: 1.4375rem;
  font-size: 1.125rem;
  line-height: 1;
  color: #33333380;
  background-color: #F0F0F0;
  border-radius: .75rem .75rem 0rem 0rem;
}
@media(min-width:768px){
  .tab.st-theme-basic > .nav .nav-link{
    padding-top: 1.5625rem;
    padding-bottom: 1.4375rem;
    font-size: 1.5625rem;
    line-height: 1;
  }
}
/* アクティブ状態 */
.tab.st-theme-basic > .nav .nav-link.active{
  color: #333;
  background-color: #F2F9FF ;
}
.course-tab-content-item a{
  display: block;
}
@media(min-width:768px){
  .course-tab-content-item a:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease;
  }
}
:root {
  --st-anchor-active-primary-color: unset;
}

/* タブコンテンツ */
.tab-content{
  margin-bottom: 4rem;
}
@media(min-width:768px){
  .tab-content{
    margin-bottom: 4.4375rem;
  }
}
.course-tab-content-item{
  padding-top: 1rem;
}
@media(min-width:768px){
  .course-tab-content-item{
    width: calc((100% - 1.9375rem) / 2);
  }
  .course-tab-content-item:nth-child(2),
  .course-tab-content-item:nth-child(4){
    padding-left: .9375rem;
  }
  .course-tab-content-item:nth-child(3),
  .course-tab-content-item:nth-child(4){
    padding-top: 1.5rem;
  }
}
.course-tab-content-item img{
  height: 13.625rem;
  object-fit: cover;
  border-radius: .75rem;
  margin-bottom: .8125rem;
}
@media(min-width:768px){
  .course-tab-content-item img{
    height: auto;
    margin-bottom: 1.125rem;
  }
}
.bi-arrow-right{
  font-size: 1rem;
  color: #005BAC;
  padding-right: .5625rem;
}
@media(min-width:768px){
  .bi-arrow-right{
    font-size: 1.0625rem;
  }
}
.course-tab-content-item-title{
  margin-bottom: .875rem;
}
@media(min-width:768px){
  .course-tab-content-item-title{
    font-size: 1.25rem;
  }
}

/* 費用
--------------------------------------------------------------*/
.price .container{
  padding-top: 4.125rem;
}
@media(min-width:768px){
  .price .container{
    padding-top: 4.25rem;
    max-width: 635px;
    margin: 0 auto;
  }
}
.price .section-title{
    padding-left: 1.25rem;
    padding-bottom: 1.0625rem;
    letter-spacing: .375rem;
}
@media(min-width:768px){
  .price .section-title{
    padding-bottom: 1.875rem;
    padding-left: .4375rem;
  }
}
.price-item{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
  border: .1875rem solid #CCC;
  margin-bottom: 3.9375rem;
}
@media(min-width:768px){
  .price-item{
    margin-bottom: 4.375rem;
  }
}
.price-item thead,
.price-item tbody{
  width: 100%;
}
.price-item-group{
  display: flex;
  justify-content:space-between;
  background-color: #F5F5F5;
  padding: 1.25rem 2.375rem 1.25rem 1.5625rem;
  border-bottom:.0625rem solid #CCCCCC;
}
@media(min-width:768px){
  .price-item-group{
    padding: 1.625rem 8.625rem 1.5rem 2.375rem;
    letter-spacing: .1062rem;
  }
}
.price-item-group-title,
.price-item-group-fee{
  font-weight: normal;
}
.price-item-group-content{
  display: flex;
  border-bottom:.0625rem solid #CCCCCC;
}
.price-item-group-content-6th{
  border-bottom:none;
}
.price-item-group-title-content-1{
padding-left: .375rem;
}
.price-item-group-title-content{
  width: 34%;
  height: 3.9375rem;
  border-right: .0625rem solid #CCC;
  padding: 1.375rem;
  text-align: center;
}
@media(min-width:768px){
  .price-item-group-title-content{
    width: 24%;
    height: 3.9375rem;
    font-size: 1.125rem;
    padding: 1.6875rem 0 3.125rem;
  }
}
.price-item-group-fee-content{
  font-family: poppins;
  font-size: 1.75rem;
  color: #F23397;
  padding: .6875rem .0625rem .0625rem 3.0625rem;
  letter-spacing: .0625rem;
}
@media(min-width:768px){
  .price-item-group-fee-content{
    padding: 1.1875rem .0625rem .0625rem 10.1875rem;
    letter-spacing: .1875rem;
  }
}
.price-item-group-fee-content span{
  font-size: 1rem;
}
.price-item-group-fee-content-5th {
  padding-left: 2.8125rem;
}
@media(min-width:768px){
  .price-item-group-fee-content-5th {
    padding-left: 9.875rem;
  }
}
.price-item-group-fee-content-6th{
  padding: .625rem .4375rem .625rem 3.8125rem;
}
@media(min-width:768px){
  .price-item-group-fee-content-6th{
    padding: 1.1875rem .0625rem .0625rem 10.125rem;
  }
}

/* information
----------------------------------------------------*/
@media(min-width:768px){
  .information-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.information-item-group{
  position: relative;
  width: 100%;
  max-width: 60rem;
}
.information-item-group a{
  display: block;
  background-image: url(/assets/image/information/qa_01.jpg);
  background-position: center;
  background-size: cover;
  height: 10.625rem;
  width: 100%;
}
@media(min-width:768px){
  .information-item-group a{
    height: 19.75rem;
  }
}
.information-item-group a:hover{
  background-image: url(/assets/image/information/qa_02.jpg);
}
@media(min-width:768px){
  .information-item-group a:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease;
  }
}
.information-item-group p{
  position: absolute;
  font-size: 1.375rem;
  color: #FFF;
}
@media(min-width:768px){
  .information-item-group p{
    font-size: 2rem;
  }
}
.information-item-group-nav{
  top: 40%;
  left: 4%;
}
@media(min-width:768px){
  .information-item-group-nav{
    top: 43%;
    left: 38%;
  }
}
.information-item-group-2nd a{
  background-image: url(/assets/image/information/classromms_01.jpg);
}
.information-item-group-2nd a:hover{
  background-image: url(/assets/image/information/classrooms_02.jpg);
}
@media(min-width:768px){
  .information-item-group-nav-2nd{
    left: 34.5%;
  }
}

/* フッター
--------------------------------------------- */
.footer-copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: poppins;
  font-size: 0.8125rem;
  font-weight: 400;
  padding: 1.9375rem .0625rem 2rem .9375rem;
  background-color:#DDD;
}
@media(min-width:768px){
  .footer-copyright{
    padding: 3.1875rem 0.375rem 3.1875rem 0.0625rem;
  }
}






