@charset "UTF-8";
/* ベースのスタイル
------------------------------------------ */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #333;
}
a {
  color: #fff;
  text-decoration: none;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
ul {
  list-style: none;
}

/* スムーススクロール */
html{
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
  margin: 0; /* 必要に応じて */
}

/* 部品
------------------------------------------ */
/* ボタン */
.button{
  display: inline-block;
  text-align: center;
  opacity: 1;
}
.button:hover{
  opacity: 0.5;
}
/* 白色ボタン */
.button--white-ghost{
  max-width: 21.875rem;
  padding: 1.25rem 5.3125rem;
  background: #FFF;
  border-radius: 2.0625rem;
  color: #005BAC;
  font-size: 1.125rem;
}

@media(min-width:768px){
  .button--white-ghost{
    grid-column: 1 / 3;
    color: #fff;
    background: transparent linear-gradient(90deg, #0271E0 0%, #53A2F0 100%) 0% 0% ;
    border-radius: 2.4375rem;
    padding: 1.0625rem 3rem;
    font-size: 1.1875rem;
  }
}
@media(min-width:1080px) and (max-width:1310px){
  .button--white-ghost{
    padding: 1.0625rem 1.375rem;
  }
}
@media(min-width:768px) and (max-width:1079px){
  .button--white-ghost{
    padding: 1.0625rem 0.625rem;
  }
}

.container{
  padding: 0 1rem;
}
/* タイトル */
.section-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  padding-bottom: .8125rem;
}
.section-title span{
  font-family: Poppins;
  color: #F11F8D;
  font-size: 2.5rem;
}
@media(min-width:768px){
  .section-title{
    font-size: 2.25rem;
    padding-bottom: 2.0625rem;
  }
  .section-title span{
    font-size: 3.1875rem;
  }
}

/* 入学説明会に申込 */
.briefing{
  background-color: #FF55551A;
  padding-bottom: 2.5rem;
}
@media(min-width:768px){
  .briefing{
    padding-bottom: 3.5rem;
  }
}
.briefing p{
  font-weight: 400;
  padding: 2.5rem 2.6875rem .625rem;
  text-align: center;
  line-height: 1.6;
}
@media(min-width:768px){
  .briefing p{
    padding: 3.5rem 0 1.125rem;
  }
}
.briefing__content{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: .75rem;
  place-items: center;
}
@media(min-width:768px){
  .briefing__content{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 50rem;
    margin: 0 auto;
    column-gap: clamp(.5rem, 2vw, 1.25rem);
  }
}
.button--ghost{
  font-size: 1.25rem;
  padding: 1.25rem 3.3125rem;
  margin: 0 auto;
  border-radius: 2.1875rem;
}
@media(min-width:768px){
  .button--ghost{
    font-size: 1.4375rem;
    padding: 1.25rem 3.5625rem 1.25rem 4.25rem;
    border-radius: 2.1875rem;
  }
}
/* 青色 */
.blue{
  grid-row: 1 / 2;
  background: transparent linear-gradient(90deg, #0271E0 0%, #53A2F0 100%) 0% 0%;
}
@media(min-width:768px){
  .blue{
    grid-column: 1 / 3;
    padding: 1.25rem 3.9375rem;
  }
}
/* ボタン ハンバーガーメニュー */
.briefing--hamburger{
  background-color: transparent;
}
@media(min-width:768px){
  .briefing--hamburger{
    grid-column: 5 / 9;
    grid-row: 1 / 2;
    padding-bottom: 0;
  }
}
/* オレンジ色 ハンバーガーメニュー */
.orange--hamburger{
  grid-row: 2 / 3;
  background-color: #F6AA00;
  padding: 1.25rem 5.3125rem;
}
@media(min-width:768px){
  .orange--hamburger{
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    padding: .9375rem 3.6875rem;
    font-size: 1.1875rem;
  }
}
@media(min-width:1080px) and (max-width:1310px){
  .orange--hamburger{
    padding: 1.0625rem 1.875rem;
  }
}
@media(min-width:768px) and (max-width:1079px){
  .orange--hamburger{
    padding: 1.0625rem 1.125rem;
  }
}
.orange{
  grid-row: 2 / 3;
  background-color: #F6AA00;
  padding: 1.25rem 3.9375rem;
}
@media(min-width:768px){
  .orange{
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    padding: 1.25rem 4.6875rem;
  }
}

/* 768px以上1210px以下改行 */
@media(max-width:767px){
  .br-pc{
    display: none;
  }
}
@media(min-width:1210px){
  .br-pc{
    display: none;
  }
}
/* ヘッダー
------------------------------------------ */
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #FFF;
  box-shadow: 0 .125rem .5rem #0000001A;
  opacity: 1;
}
.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.375rem;
  padding: 1.125rem 0 ;
}
@media(min-width:768px){
  .header__container{
    height: 6.3125rem;
    max-width: 87.5rem;
    margin: 0 auto;
  }
}
/* ヘッダーロゴ */
.header__logo img{
    max-width: 11.4375rem;
    padding-left: 1.0625rem;
}
@media(min-width:768px){
  .header__logo img{
    max-width: 16.125rem;
  }
}
@media(min-width:768px) and (max-width:1300px){
  .header__logo img{
    max-width: 13.75rem;
  }
}
/* ハンバーガーボタン */
.hamburger__button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.375rem;
  height: 4.375rem;
  background: #005BAC;
}
@media(min-width:768px){
  .hamburger__button{
    display: none;
  }
}
.hamburger__button i{
  color: #fff;
  font-size: 2.75rem;
}
/* ハンバーガーメニュー */
@media(max-width: 767px) {
  .hamburger__menu{
    position: fixed;
    top: 4.375rem;
    left: 0;
    width: 100%;
    height: 26.25rem;
    background: #005BAC;
    opacity: 1;
    transition: all .3s;
    transform: translateX(100%);
    animation-timing-function: ease-out;
  }
}
.hamburger__menu{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.hamburger__nav-list-group{
  grid-row: 1 / 2;
}
.briefing{
  grid-row: 2 / 3;
}
/* ボタン ハンバーガーメニュー */
.briefing--hamburger{
  background-color: transparent;
}
@media(min-width:768px){
  .briefing--hamburger{
    grid-column: 4 / 8;
    grid-row: 1 / 2;
  }
}
/* アクティブ状態 */
.hamburger__menu-active {
  transform: translateX(0);
}
/* ナビゲーション */
@media(max-width:767px){
  .hamburger__nav-list-group{
    font-size: 1.125rem;
    font-weight: 500;
    padding-bottom: 2rem;
    padding-left: 1.4375rem;
    padding-right: 1.4375rem;
  }
  .hamburger__nav-list-group li{
    display: flex;
    align-items: center;
    border-bottom: 0.0625rem solid #fff;
    padding: 1.2188rem 0;
  }
  .hamburger__nav-list-group li:last-child{
    letter-spacing: .125rem;
  }
  .hamburger__nav-list-group a{
    display: flex;
    align-items: center;
    column-gap: .6875rem;
  }
  .hamburger__nav-list-group a::before{
    font-family: bootstrap-icons;
    content:"\F138";
    color: #fff;
    font-size: .875rem;
  }
}
@media(min-width:768px){
  .hamburger__menu{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    place-items: center;

  }
  .hamburger__nav-list{
    grid-column: 1 /  4;
  }
  .hamburger__nav-list-group{
    place-items: center;
    display: flex;
    flex-direction: row;
    column-gap: clamp(.5rem, 3vw, 3.125rem);
    padding-bottom: 0;
    padding-right:clamp(.5rem, 1.5vw, 1.5625rem);

  }
  .hamburger__nav-list-group a{
    font-size:clamp(1.125rem, 2vw, 1.25rem);
    font-weight: 500;
    color: #333;
  }
}

/* カバー
-----------------------------------------------------*/
.cover{
  position: relative;
}
.cover__container{
  position: relative;
  top: 4.375rem;
  right: .875rem;
}
@media(min-width:768px){
  .cover__container{
    top: 6.3125rem;
    right: 0;
  }
}
.cover__container-img{
  max-width: 104%;
  width: 104%;
}
@media(min-width:768px){
  .cover__container-img{
    width: 100%;
  }
}
/* 合格実績 No,1 */
.cover__top{
  position: absolute;
  top: 15%;
  left: 8%;
  display: flex;
}
@media(min-width:768px){
  .cover__top{
    top: 16%;
    left: 21%;
    display: flex;
    justify-content: space-between;
    width: 17%;
  }
}
@media(min-width:768px) and (max-width:1259px){
  .cover__top{
    width: 30%;
    left: 15%;
  }
}
@media(min-width:1260px) and (max-width:1660px){
  .cover__top{
    width: 23%;
  }
}
.cover__top img{
  width: 16%;
}
.cover__top-description{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cover__top-title{
  font-size: .6875rem;
  font-weight: 400;
}
@media(min-width:768px){
  .cover__top-title{
    font-size: 1.25rem;
    padding-top: .8125rem;
    padding-left: .6875rem;
  }
}

@media(min-width:768px) and (max-width:1259px){
  .cover__top-title{
    font-size: 1rem;
  }
}

@media(min-width:1260px) and (max-width:1660px){
  .cover__top-title{
    font-size: 1.25rem;
  }
}
.cover__top-title-sub{
  font-family: Poppins;
  font-style: italic;
  font-size: 1.6875rem;
  font-weight: 800;
  color: #F11F8D;
}
@media(min-width:768px){
  .cover__top-title-sub{
    font-size: 3.4375rem;
    padding-top: .125rem;
    padding-left: .9375rem;
  }
}
.cover-top-title-sub span{
  font-size: 2.0625rem;
}
@media(min-width:768px){
  .cover__top-title-sub span{
    font-size: 4.0625rem;
  }
}

/* 申込開始案内 */
.cover__bottom{
  position: absolute;
  bottom: 14%;
  left: 8%;
}
@media(min-width:768px){
  .cover__bottom{
    bottom: 22%;
    left: 21.5%;
  }
}
@media(min-width:768px) and (max-width:1259px){
  .cover__bottom{
    bottom: 19%;
    left: 19.5%;
  }
}
@media(min-width:1260px) and (max-width:1660px){
  .cover__bottom{
    bottom: 15%;
  }
}
@media (min-width:768px){
  .cover__bottom-sub{
    font-size: 2.0625rem;
  }
}
@media(min-width:768px) and (max-width:1259px){
  .cover__bottom-sub{
    font-size: 1.25rem;
  }
}
@media(min-width:1260px) and (max-width:1660px){
  .cover__bottom-sub{
    font-size: 1.5rem;
  }
}
.coer__bottom-sub-title{
  font-size: 1.5625rem;
  font-weight: 900;
  line-height: 1.4;
  color: #005BAC;
}
@media(min-width:768px){
  .coer__bottom-sub-title{
    font-size: 3.75rem;
  }
}
@media(min-width:768px) and (max-width:1259px){
  .coer__bottom-sub-title{
    font-size: 2.125rem;
  }
}
@media(min-width:1260px) and (max-width:1660px){
  .coer__bottom-sub-title{
    font-size: 2.8125rem;
  }
}

/*3つのボタン */
.cover__three-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: .75rem;
  max-width: 15.625rem;
  margin: 5.875rem auto 1.5rem;
}
@media(min-width:768px){
  .cover__three-button{
    position: absolute;
    top: 110%;
    left: 21.5%;
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
    max-width: 68.75rem;
    margin: 0 auto;
  }
}
@media(min-width:768px) and (max-width:1259px){
  .cover__three-button{
    top: 110%;
    left: 21.5%;
    column-gap: 1rem;
    max-width: 68.75rem;
  }
}
@media(min-width:1260px) and (max-width:1660px){
  .cover__three-button{
    top: 110%;
    left: 21.5%;
    column-gap: 2.5rem;
    max-width: 68.75rem;
  }
}
.cover__button{
  font-size:  1rem;
  border-radius: 1.5625rem;
  padding: .75rem;
}
@media(min-width:768px){
  .cover__button{
    font-size:  1.5rem;
    border-radius: 2.375rem;
    padding: 1.1875rem 3.75rem;
  }
}
@media(min-width:768px) and (max-width:1259px){
  .cover__button{
    font-size:  .875rem;
    padding: 1.1875rem;
  }
}
@media(min-width:1260px) and (max-width:1660px){
  .cover_button{
    font-size:  1.1875rem;
  }
}
.button--green-ghost{
  background-color: #77CB33;
}
.button--orange-ghost{
  background-color: #F6AA00;
}
.button--emerald-green-ghost{
  background-color: #3AC8AD;
}
@media(min-width:768px){
  .button--emerald-green-ghost{
    padding: 1.1875rem 6.375rem;
  }
}
@media(min-width:768px) and (max-width:1259px){
  .button--emerald-green-ghost{
    padding: 1.125rem 3.125rem;
  }
}

/* 選ばれる3つの理由
-------------------------------------------------------------*/
@media(min-width:768px) {
  .reason{
    margin-top:  13.375rem;
  }
  .reason .container{
    padding: 0 1rem 1.8125rem;
  }
  .reason__item{
    display: flex;
    flex-direction: row;
    max-width: 72.5rem;
    margin: 0 auto;
    padding-bottom: 2.5rem;
  }
  .reason__item--02{
    flex-direction: row-reverse;
  }
}
.reason__item img{
  margin-bottom: .3125rem;
  height: 13.75rem;
  border-radius: .75rem;
  object-fit: cover;
}
@media(min-width:768px) {
  .reason__item img{
    padding-bottom: 0;
    height: auto;
  }
  .reason__item-bottom{
    padding-left: 2.5625rem;
  }
  .reason__item-bottom--02{
    padding-left: 0;
    padding-right: 2.125rem;
  }
}
.reason__item-bottom-point{
  font-family: Poppins;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 800;
  color: #F11F8D;
}
@media(min-width:768px){
  .reason__item-bottom-point{
    font-size: 1.6875rem;
  }
}
.reason__item-bottom-point-numbers{
  font-size: 2.3125rem;
  padding-left: .375rem;
}
.reason__item-bottom-point-title{
  font-size: 1.25rem;
  padding-bottom: .625rem;
}
@media(min-width:768px){
  .reason__item-bottom-point-title{
    font-size: 1.5rem;
    padding: .1875rem 0 .8125rem;
    line-height: 1.7;
  }
}
.reason__item-bottom-point-title--02{
  padding-bottom: .375rem;
}
@media(min-width:768px){
  .reason__item-bottom-point-title--02{
    padding-bottom: .6875rem;
  }
}
.reason__item-bottom-point-title-description{
  font-weight: 400;
  line-height: 1.78;
  padding-bottom: 1.8125rem;
}
/* コース・目的
--------------------------------------------------*/
.course{
  padding-top:4rem;
}
@media(min-width:768px){
  .course{
    padding-top:0;
  }
}
.course .section-title{
  padding-bottom: 1rem;
  padding-left: .875rem;
}
@media(min-width:768px){
  .course .section-title{
    padding: 4.25rem 0 2.3125rem;
  }
  .tab{
    margin: auto;
    max-width: 72.5rem;

  }
}
/* タブ */
.st-theme-basic{
  border: none;
}
/* タブナビゲーション */
  body div#smarttab > ul.nav {
      display: flex;
      flex-direction: row!important;
      column-gap: 1.0625rem;
      padding-left: .9375rem;
      padding-right: .9375rem;
  }
  @media(min-width:768px){
    body div#smarttab > ul.nav {
      column-gap: 1.9375rem;
      padding-left: 0;
      padding-right: 0;
  }
}
  .tab.st-theme-basic > .nav{
    box-shadow: none;
  }
  .st>.tab-content>.tab-pane {
    background-color: #F2F9FF;
    padding: .9375rem .9375rem 2.6875rem;

  }
@media(min-width:768px){
  .st>.tab-content>.tab-pane {
    padding-bottom: 1rem;
    border-radius: 0 0 .75rem .75rem;
  }
}
@media(min-width:768px){
  .st>.tab-content>.tab-pane {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }
}
.tab.st-theme-basic > .nav .nav-link{
  padding-top: 1.5625rem;
  padding-bottom: 1.4375rem;
  font-size: 1.125rem;
  line-height: 1;
  color: #33333380;
  background-color: #F0F0F0;
  border-radius: .75rem .75rem 0 0;
}
@media(min-width:768px){
  .tab.st-theme-basic > .nav .nav-link{
    padding-top: 1.5625rem;
    padding-bottom: 1.4375rem;
    font-size: 1.5625rem;
    line-height: 1;
  }
  #tab-1 {
    padding-bottom: .8125rem;
  }
}
/* アクティブ状態 */
.tab.st-theme-basic > .nav .nav-link.active{
  color: #333;
  background-color: #F2F9FF ;
}
@media(min-width:768px){
  .course__tab-content-item:nth-child(1){
    width: 47.5%;
  }
  .course__tab-content-item:nth-child(3){
    width: 47.5%;
  }
  #tab-2 .course__tab-content-item:nth-child(1){
    width: 46.5%;
  }
  #tab-2 .course__tab-content-item:nth-child(2){
    width: 47.5%;
  }
  #tab-2 .course__tab-content-item:nth-child(3){
    width: 47.5%;
  }
  #tab-2 .course__tab-content-item:nth-child(4){
    width: 48.5%;
  }
}

.course__tab-content-item a{
  display: block;
  overflow: hidden;
  border-radius: .75rem;
}
@media(min-width:768px){
  .course__tab-content-item img{
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, border-radius 0.3s ease;
  }
  .course__tab-content-item img:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease;
    border-radius: .75rem;

  }
}
:root {
  --st-anchor-active-primary-color: unset;
}

/* タブコンテンツ */
.tab-content{
  margin-bottom: 4rem;
}
@media(min-width:768px){
  .tab-content{
    margin-bottom: 4.4375rem;
  }
}
.course__tab-content-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
@media(min-width:768px){
  .course__tab-content-item{
    width: calc((100% - 1.9375rem) / 2);
  }
  .course__tab-content-item:nth-child(2),
  .course__tab-content-item:nth-child(4){
    padding-left: .9375rem;
  }
  .course__tab-content-item:nth-child(3),
  .course__tab-content-item:nth-child(4){
    padding-top: 0;
  }
}
.course__tab-content-item img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: .75rem;
  margin-bottom: .8125rem;
}
@media(min-width:768px){
  .course__tab-content-item img{
    height: auto;
  }
}
.course__tab-content-item svg{
  color: #005BAC;
  padding-top: .375rem;
  padding-right: .125rem;
}
@media(min-width:768px){
  .course__tab-content-item svg{
    padding-top: 0;
    padding-right: 0;
  }
}

.course__tab-content-item-title{
  text-align: left;
  width: 100%;
  margin-bottom: .875rem;
  display: flex;
}
@media(min-width:768px){
  .course__tab-content-item-title{
    font-size: 1.25rem;
    column-gap: .375rem;
    margin-bottom: 1.75rem;
  }
}

/* 費用
--------------------------------------------------------------*/
.price .container{
  padding-top: 4.125rem;
}
@media(min-width:768px){
  .price .container{
    padding-top: 3.9375rem;
    max-width: 635px;
    margin: 0 auto;
  }
}
.price .section-title{
    padding-left: 1.25rem;
    padding-bottom: 1.0625rem;
    letter-spacing: .375rem;
}
@media(min-width:768px){
  .price .section-title{
    padding-bottom: 2.5625rem;
    padding-left: .4375rem;
  }
}
.price__item{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
  border: .1875rem solid #CCC;
  margin-bottom: 3.9375rem;
}
@media(min-width:768px){
  .price__item{
    margin-bottom: 4.375rem;
  }
}

.price__item thead,
.price__item tbody{
  width: 100%;
}
.price__item-group{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #F5F5F5;
  column-gap: .625rem;
  padding: 1.1875rem 0 1.1875rem 1.5625rem;
  border-bottom:.0625rem solid #CCCCCC;
}
@media(min-width:768px){
  .price__item-group{
    padding-top: 1.375rem;
    padding-bottom: 1.5rem;
    letter-spacing: .1062rem;
  }
}
.price__item-group-title{
  width: 27%;
}
@media(min-width:768px){
  .price__item-group-title{
    width: 21%;
  }
}

.price__item-group-fee{
  width: 100%;
  text-align: center;
}
.price__item-group-title,
.price__item-group-fee{
  font-weight: normal;
}
.price__item-group-content{
  display: flex;
  border-bottom:.0625rem solid #CCCCCC;
}
.price__item-group-content-6th{
  border-bottom:none;
}
.price__item-group-title-content-1{
padding-left: .375rem;
}
.price__item-group-title-content{
  width: 45%;
  height: 3.9375rem;
  border-right: .0625rem solid #CCC;
  padding: 1.375rem;
  text-align: center;
}
@media(min-width:768px){
  .price__item-group-title-content{
    width: 32%;
    height: 3.9375rem;
    font-size: 1.125rem;
    padding: 1.6875rem 0 3.125rem;
  }
}
.price__item-group-fee-content{
  font-family: poppins;
  font-size: 1.75rem;
  font-weight: 700;
  color: #F23397;
  padding: .6875rem .375rem .0625rem 0;
  text-align: center;
  width: 100%
}
@media(min-width:768px){
  .price__item-group-fee-content{
    padding: 1.25rem 0 0 0 ;
    letter-spacing: .1875rem;
  }
}
.price__item-group-fee-content span{
  font-size: 1rem;
}
.price__item-group-fee-content-5th {
  padding-left: .1875rem;
}

.price__item-group-fee-content-6th{
  padding: .75rem 0 0 .8125rem;
}
@media(min-width:768px){
  .price__item-group-fee-content-6th{
    padding: 1.1875rem 0 .0625rem;
  }
}

/* information
----------------------------------------------------*/
@media(min-width:768px){
  .information__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.information__item-group{
  position: relative;
  width: 100%;
  max-width: 60rem;
  overflow: hidden;
}
.information__item-group a{
  display: block;
  background-image: url(/assets/image/information/qa_01.jpg);
  background-position: center;
  background-size: cover;
  height: 10.625rem;
  width: 100%;
}
@media(min-width:768px){
  .information__item-group a{
    height: 19.75rem;
  }
}
.information__item-group a:hover{
  background-image: url(/assets/image/information/qa_02.jpg);
}
@media(min-width:768px){
  .information__item-group a:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease;
  }
}
.information__item-group p{
  position: absolute;
  font-size: 1.375rem;
  color: #FFF;
}
@media(min-width:768px){
  .information__item-group p{
    font-size: 2rem;
  }
}
.information__item-group-nav{
  top: 40%;
  left: 4%;
}
@media(min-width:768px){
  .information__item-group-nav{
    top: 43%;
    left: 38%;
  }
}
.information__item-group-2nd a{
  background-image: url(/assets/image/information/classromms_01.jpg);
}
.information__item-group-2nd a:hover{
  background-image: url(/assets/image/information/classrooms_02.jpg);
}
@media(min-width:768px){
  .information__item-group-nav-2nd{
    left: 34.5%;
  }
}

/* フッター
--------------------------------------------- */
.footer__copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: poppins;
  font-size: 0.8125rem;
  font-weight: 400;
  padding: 1.9375rem .0625rem 2rem .9375rem;
  background-color:#DDD;
}
@media(min-width:768px){
  .footer__copyright{
    padding: 3.1875rem 0.375rem 3.1875rem 0.0625rem;
  }
}






